Repository auggy-ntn/xhec-mlops-2025-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-sort, nbstripout

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
    - id: ruff-format
      name: Formatting (ruff)
      entry: uv run ruff format
      types: [python]
      language: system
    - id: ruff-fix
      name: Linting (ruff)
      entry: uv run ruff check
      types: [python]
      language: system
    - id: ruff-sort
      name: Sorting (ruff)
      entry: uv run ruff check --select I --fix
      types: [python]
      language: system
    - id: nbstripout
      name: Strip Jupyter notebook output (nbstripout)
      entry: uv run nbstripout
      types: [file]
      files: (.ipynb)$
      language: system
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.17
    hooks:
      - id: black
        name: Formatting (black)
        entry: black
        language: python
        types_or: [python, pyi, jupyter]
        additional_dependencies: [".[jupyter]"]
      - id: isort
        name: Sorting imports (isort)
        entry: isort
        types: [python]
        language: system
      - id: ruff # TODO - remove this if you chose not to use ruff (must have one of ruff or flake8)
        name: Linting (ruff)
        entry: ruff
        types: [python]
        language: system
      - id: flake8 # TODO - remove this if you chose not to use flake8 (must have one of ruff or flake8)
        name: Linting (flake8)
        entry: flake8
        types: [python]
        language: system
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

Fix updated uv lock
  uv.lock
Due: none

created Input and Output Data Classes
  src/web_service/lib/models.py
Due: ruff-format, ruff-fix, ruff-sort

for rebase
  Dockerfile.app
Due: none

fix : pre commit
  PR_4.md
Due: none

replicated predict function in correct directory, fixed main
  src/web_service/lib/modelling.py
  src/web_service/main.py
Due: ruff-format, ruff-fix, ruff-sort

fix main
  src/web_service/main.py
Due: ruff-format, ruff-fix, ruff-sort

feat: fastapi
  Dockerfile.app
Due: none

feat: fastapi
  Dockerfile.app
  PR_4.md
  bin/run_services.sh
  src/web_service/lib/inference.py
  src/web_service/lib/models.py
  src/web_service/main.py
  src/web_service/utils.py
Due: ruff-format, ruff-fix, ruff-sort

prepared the functions for the API
  src/web_service/lib/inference.py
  src/web_service/main.py
  src/web_service/utils.py
Due: ruff-format, ruff-fix, ruff-sort

update the pydantic file (models.py)
  src/web_service/lib/models.py
Due: ruff-format, ruff-fix, ruff-sort

created utils, app function predict and app config file
  src/web_service/app_config.py
  src/web_service/lib/inference.py
  src/web_service/main.py
  src/web_service/utils.py
Due: ruff-format, ruff-fix, ruff-sort

for rebase
  Dockerfile.app
  bin/run_services.sh
Due: none

fix: main
  src/web_service/main.py
Due: ruff-format, ruff-fix, ruff-sort

Dockerfile.app update
  Dockerfile.app
Due: none

fix: Dockerfile, removed TODO in run_services.sh
  Dockerfile.app
Due: none

feat: fastapi
  src/web_service/lib/inference.py
Due: ruff-format, ruff-fix, ruff-sort

prepared the functions for the API
  src/web_service/lib/inference.py
Due: ruff-format, ruff-fix, ruff-sort

created utils, app function predict and app config file
  src/web_service/lib/inference.py
Due: ruff-format, ruff-fix, ruff-sort

Modified API to not use Prefect workflow when prediction
  src/web_service/main.py
Due: ruff-format, ruff-fix, ruff-sort

Revert: Restore repository to state at commit da1a7cb
  src/web_service/main.py
Due: ruff-format, ruff-fix, ruff-sort

Reworked API prediction structure
  README.md
  notebooks/modelling.ipynb
  src/modelling/config.py
  src/modelling/main.py
  src/modelling/preprocessing.py
  src/web_service/app_config.py
  src/web_service/lib/modelling.py
  src/web_service/main.py
  src/web_service/utils.py
Due: ruff-format, ruff-fix, ruff-sort, nbstripout

Started working on the final readme
  PR_4.md
  README.md
  src/modelling/main.py
Due: ruff-format, ruff-fix, ruff-sort

Updated API to not use prefect for prediction
  src/web_service/main.py
Due: ruff-format, ruff-fix, ruff-sort

Containerized API service for abalone age prediction
  Dockerfile.app
  bin/run_services.sh
Due: none

Refreshed notebook
  notebooks/modelling.ipynb
Due: nbstripout

Updated readme
  README.md
Due: none

Changed time of deployment in README
  README.md
Due: none

Containerized app with docker compose
  Dockerfile.api
  Dockerfile.backend
  bin/init_data.sh
  bin/run_api_service.sh
  bin/run_backend_service.sh
  docker-compose.yml
  src/modelling/main.py
Due: ruff-format, ruff-fix, ruff-sort

Tentative README file for review
  SETUP_GUIDE.md
  docker-compose.yml
Due: none

Updated tentative readme
  SETUP_GUIDE.md
Due: none

Updated docker-compose, pushed new images to docker hub for mac users
  SETUP_GUIDE.md
  bin/run_backend_service.sh
  docker-compose.yml
Due: none

Updated readme and ports
  SETUP_GUIDE.md
  bin/run_backend_service.sh
  docker-compose.yml
Due: none

Deleted old readme
  README.md
  SETUP_GUIDE.md
Due: none
