Repository auggy-ntn/xhec-mlops-2025-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-sort, nbstripout

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
    - id: ruff-format
      name: Formatting (ruff)
      entry: uv run ruff format
      types: [python]
      language: system
    - id: ruff-fix
      name: Linting (ruff)
      entry: uv run ruff check
      types: [python]
      language: system
    - id: ruff-sort
      name: Sorting (ruff)
      entry: uv run ruff check --select I --fix
      types: [python]
      language: system
    - id: nbstripout
      name: Strip Jupyter notebook output (nbstripout)
      entry: uv run nbstripout
      types: [file]
      files: (.ipynb)$
      language: system
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.17
    hooks:
      - id: black
        name: Formatting (black)
        entry: black
        language: python
        types_or: [python, pyi, jupyter]
        additional_dependencies: [".[jupyter]"]
      - id: isort
        name: Sorting imports (isort)
        entry: isort
        types: [python]
        language: system
      - id: ruff # TODO - remove this if you chose not to use ruff (must have one of ruff or flake8)
        name: Linting (ruff)
        entry: ruff
        types: [python]
        language: system
      - id: flake8 # TODO - remove this if you chose not to use flake8 (must have one of ruff or flake8)
        name: Linting (flake8)
        entry: flake8
        types: [python]
        language: system
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

Strip notebook outputs
  notebooks/eda.ipynb
  notebooks/modelling.ipynb
  notebooks/sofia_eda.ipynb
  notebooks/sofia_modeling.ipynb
Due: nbstripout

commiting final modelling
  models/linear_regression_model.pkl
  notebooks/modelling.ipynb
  pyproject.toml
  uv.lock
Due: nbstripout

model pipeline part 1
  notebooks/modelling.ipynb
Due: nbstripout

Formatted files to pass pre-commit hooks
  PR_1.md
  README.md
Due: none

rebase on up to date version
  notebooks/sofia_modeling.ipynb
  pyproject.toml
Due: nbstripout

model pipeline part 1
  models/linear_regression_model.pkl
  notebooks/modelling.ipynb
  pyproject.toml
  uv.lock
Due: nbstripout

Deleted PR_1.md file
  PR_1.md
Due: none

Added dependencies
  data/abalone.csv
  pyproject.toml
  uv.lock
Due: none

Typed and docstrings for training workflow functions
  notebooks/modelling.ipynb
Due: nbstripout

Cleaned notebook
  notebooks/sofia_eda.ipynb
Due: nbstripout

Fix modelling notebook and update models
  models/model.pkl
  models/scaler.pkl
  notebooks/modelling.ipynb
Due: nbstripout

Model training pipeline; saved artifacts: processing, training.
  notebooks/sofia_eda.ipynb
Due: nbstripout

Cleaned modelling notebook
  .gitignore
  models/.gitkeep
  models/model.pkl
  notebooks/modelling.ipynb
Due: nbstripout

mlflow implementation
  .gitignore
  notebooks/modelling_OLD.ipynb
  notebooks/sofia_eda.ipynb
  notebooks/sofia_modeling.ipynb
  uv.lock
Due: nbstripout

Cleaned after rebase
  .gitignore
  .pre-commit-config.yaml
  data/.gitkeep
  models/.gitkeep
  pyproject.toml
  uv.lock
Due: none

Delete requirements-dev.in
  requirements-dev.in
Due: none

feat: modules
  .pre-commit-config.yaml.yaml
  PR_2.md
  requirements-dev.in
  src/modelling/main.py
  src/modelling/predicting.py
  src/modelling/preprocessing.py
  src/modelling/training.py
  src/modelling/utils.py
  src/web_service/local_objects/.gitkeep
Due: ruff-format, ruff-fix, ruff-sort

Delete pre-commit file example
  .pre-commit-config.yaml.yaml
Due: none

Scripting notebook functions
  .gitignore
  pyproject.toml
  src/modelling/config.py
  src/modelling/main.py
  src/modelling/predicting.py
  src/modelling/preprocessing.py
  src/modelling/training.py
  src/modelling/utils.py
  uv.lock
Due: ruff-format, ruff-fix, ruff-sort

Reworked utils functions
  src/modelling/utils.py
Due: ruff-format, ruff-fix, ruff-sort

Re formatted files to pass CI
  pyproject.toml
  src/modelling/main.py
  src/modelling/preprocessing.py
Due: ruff-format, ruff-fix, ruff-sort

Delete PR_2.md
  PR_2.md
Due: none

Moved columns as a constant to config file + add 1.5 to predictions
  src/modelling/config.py
  src/modelling/predicting.py
  src/modelling/preprocessing.py
Due: ruff-format, ruff-fix, ruff-sort

feat: prefect
  PR_3.md
Due: none

feat: add Prefect dependency for ML orchestration
  uv.lock
Due: none

uv lock small update
  uv.lock
Due: none

feat: modules
  .pre-commit-config.yaml.yaml
  PR_2.md
  requirements-dev.in
Due: none

feat: add Prefect dependency for ML orchestration
  pyproject.toml
  uv.lock
Due: none

Updated README and deleted PR_3.md
  PR_3.md
  README.md
Due: none

Added mlflow to prefect workflow
  notebooks/modelling.ipynb
  src/modelling/config.py
  src/modelling/deploy.py
  src/modelling/main.py
Due: ruff-format, ruff-fix, ruff-sort, nbstripout

uv lock update
  uv.lock
Due: none

Prefect implemented
  src/modelling/deploy.py
  src/modelling/main.py
  src/modelling/predicting.py
  src/modelling/preprocessing.py
  src/modelling/training.py
  src/modelling/utils.py
Due: ruff-format, ruff-fix, ruff-sort
